.todoForm {
  display: flex;
  flex-direction: row;
  margin: 5%;
  align-items: flex-start;
  margin-top: 0;
}
.todoForm label {
  font-size: xx-large;
}
.todoForm label,
input {
  margin-bottom: 2%;
  margin-right: 2%;
}
.todoForm input {
  padding: 1rem;
  font-size: large;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: dotted;
}

.todoForm button {
  margin-left: 5%;
  padding: 1rem;
  font-size: large;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: dotted;
  background-color: aqua;
}
