.todoForm {
  display: flex;
  flex-direction: column;
  margin: 5%;
  align-items: flex-start;
}
.todoForm label {
  font-size: xx-large;
}
.todoForm label,
input {
  margin-bottom: 2%;
}
.todoForm input {
  padding: 1rem;
  font-size: large;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: dotted;
}

.todoForm button {
  padding: 1rem;
  font-size: large;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: dotted;
  background-color: aqua;
}
.todoForm button:hover {
  padding: 1rem;
  font-size: large;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom: dotted;
  background-color: aqua;
  cursor: pointer;
  text-decoration: underline;
}
