.App {
  text-align: left;
  margin-top: 5%;
}
.App .feature-ctn {
  display: flex;

  flex-wrap: wrap;
}
button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.App .reset-btn {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom: dotted;
  width: max-content;
  background-color: lightcoral;
}
.App .reset-btn:hover {
  background-color: red;
}
