.todoListCtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5%;
}
.todoListCtn .todoList {
  list-style-type: none;
  padding: 0;
}
.todoListCtn h1 {
  margin: 0;
  margin-left: -1%;
}
